*{
    
    padding: 0px;
    margin: 0px;
    
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: black
}
.tit{
    padding: 10px;
    color: white;
    
    text-align: center;

}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.cp1{
    color:white;
    width: 200px;
    margin:5px;
    flex-basis: 20%;
    flex-grow: 1;
    

}